<nav class="navbar" style="background-color: #192e67">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/appmin.png" alt="app-ministracion" width="200px">
        </a>
    </div>
</nav>


<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit(formDirective)" #formDirective="ngForm">
        <div class="row text-center mt-5">
            <div class="col-md-12" style="font-size: 22px;">
                <p style="color: #192e67;">Registro</p>
            </div>

            <div class="col-md-12">
                <p>Datos personales</p>
            </div>
        </div>



        <div class="raw row justify-content-md-center mt-5">


            <mat-radio-group  formControlName="options">
                <mat-radio-button  value = '1' style="margin-left: 270px;">Administrador</mat-radio-button>
                <mat-radio-button  value = '2' style="margin-left: 470px;">Residente</mat-radio-button>
            </mat-radio-group>

            <div class="col-md-5 mt-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nombre y apellido</mat-label>
                    <input formControlName="name"  matInput placeholder="Nombre y apellido">
                    <mat-error *ngIf="form.get('name')?.invalid">Nombre Invalido</mat-error>

                </mat-form-field>
            </div>
            <div class="col-md-5 mt-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Conjunto</mat-label>
                    <mat-select formControlName="ensemble" (selectionChange)="chargeValuesAssemble($event.value)">
                        <mat-option>--Ninguno-- </mat-option>
                        <mat-option *ngFor="let conjunto of conjuntos" [value]="conjunto.cod_conjunto">{{conjunto.nombre}}</mat-option>
                      </mat-select>
                    <!-- <input formControlName="ensemble" matInput placeholder="Conjunto"> -->
                    <mat-error *ngIf="form.get('ensemble')?.invalid">Conjunto Invalido</mat-error>

                </mat-form-field>
            </div>

            <div class="col-md-5">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="phone" matInput placeholder="Telefono">
                    <mat-error *ngIf="form.get('phone')?.invalid">Telefono Invalido</mat-error>

                </mat-form-field>
            </div>

            <div class="col-md-5">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input formControlName="email" matInput placeholder="Correo">
                    <mat-error *ngIf="form.get('email')?.invalid">Correo Invalido</mat-error>

                </mat-form-field>
            </div>

            <div class="col-md-5">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input formControlName="password" type="password" matInput placeholder="Contraseña">
                    <mat-error *ngIf="form.get('password')?.invalid">Contraseña Invalida</mat-error>

                </mat-form-field>
            </div>

            <div class="col-md-5">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input formControlName="confirmPassword" type="password" matInput placeholder="Confirmar contraseña">
                    <mat-error *ngIf="form.get('confirmPassword')?.invalid">Las contraseñas no coinciden</mat-error>

                </mat-form-field>
            </div>

            <div class="col-md-5">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Direccion del conjunto</mat-label>
                    <input formControlName="address" matInput placeholder="Correo">
                    <mat-error *ngIf="form.get('address')?.invalid">Dirección invalida</mat-error>

                </mat-form-field>
            </div>

            <div class="col-md-5">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nit del conjunto</mat-label>
                    <input  formControlName="nit" matInput placeholder="Correo">
                    <mat-error *ngIf="form.get('nit')?.invalid">Nit invalida</mat-error>

                </mat-form-field>
            </div>

            <div class="col-md-3 text-center mt-5">
                <button mat-raised-button color="primary" [disabled] ="form.invalid">Registrarse</button>
                <p class="mt-2"> ya tienes cuenta Ingresa <a href="/login"> aqui </a> </p>
            </div>

        </div>
    </form>
</div>


<app-footer> </app-footer>