.example-full-width {
    width: 100%;
    /* margin: 0 !important; */
}

.example-card {
    max-width: 600px;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.abs-center {
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    /* min-height: 100vh; */
  }


.filter-p{
    margin-left: 20px; 
    /* padding-top: 12px;  */
    color: #000000;
    font-weight: 700;
}

.text-limit{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

