<nav class="navbar navbar-expand-lg" style="background-color: #192e67"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/appmin.png" alt="app-ministracion" width="200px">
      </a>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" style="color: white;" aria-current="page" href="#" >Inicio</a>
          <a class="nav-link"        style="color: white;" href="#">Solicitudes</a>
          <a class="nav-link"        style="color: white;" href="#">Noticias</a>
        </div>
      </div>

      <div>
        <button mat-button [matMenuTriggerFor]="menu" style="color: white;"> <i class="fa fa-user" style="color: white;"></i> {{username}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Cerrar sesion</button>
        </mat-menu>
        
        
      </div>

    </div>
</nav>

  


<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
          
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Filtrar por coincidencia</mat-label>
                <input  matInput 
                       placeholder="Buscar coincidencia">
              </mat-form-field>
            </div>
            <p class="filter-p"> ADMINISTRADOR / {{ensemble | uppercase}}   </p>
            <p class="filter-p"> PREGUNTAS REALIZADAS:   </p>

            <!-- <div class="col-md-2 " style="justify-content: left; margin-top: 60px;">
              <button mat-button  color="primary">  Filtrar</button>
            </div> -->

            <div class="alert alert-primary no-question" role="alert" *ngIf="validateResponse">
              No hay ninguna pregunta  :(
            </div>

        <div class="col-md-6 mt-2" *ngFor="let question of questions | paginate: { itemsPerPage: 4, currentPage: page }">
            <mat-card class="example-card" style="box-shadow: 2px 2px 2px 3px #D3D3D3;">
                <mat-card-header>
                    <mat-card-title>{{question.nombre_usuario}}</mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                    <div mat-card-avatar class="example-header-image"></div>
                </mat-card-header>

                <mat-card-content class="mt-3">
                  <p>
                    Conjunto: {{question.nombre_conjunto}}
                  </p>
                  <p class="text-limit">
                    Pregunta: {{question.descripcion_pregunta}} 
                  </p>

                  <p>
                      Fecha de creacion: {{question.fecha_creacion_pregunta}}
                  </p>
                </mat-card-content>
                <mat-card-actions style="text-align: end;" *ngIf ="question.codigo_respuesta == null">
                  <button (click) = "response(question.codigo_pregunta)" color="primary" mat-button>Responder</button>
                </mat-card-actions>

                <mat-card-actions style="text-align: end;" *ngIf ="question.codigo_respuesta">
                  <button (click) = "viewResponse()" color="primary" mat-button>Ver registro</button>
                </mat-card-actions>

              </mat-card>

        </div>
        <div class="mt-3" style="float: left;" *ngIf="!validateResponse">
          <pagination-controls (pageChange)="page = $event" 
            previousLabel="Anterior"
            nextLabel="Siguiente">
          </pagination-controls>
      
        </div>
    </div>
</div>