<nav class="navbar navbar-expand-lg" style="background-color: #192e67"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/appmin.png" alt="app-ministracion" width="200px">
      </a>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" style="color: white;" aria-current="page" href="#" >Inicio</a>
          <a class="nav-link"        style="color: white;" href="#">Solicitudes</a>
          <a class="nav-link"        style="color: white;" href="#">Noticias</a>
          <a class="nav-link"        style="color: white;"  [routerLink]="['/questions']"  >Preguntas</a>
        </div>
      </div>

      <div>
        <button mat-button [matMenuTriggerFor]="menu" style="color: white;"> <i class="fa fa-user" style="color: white;"></i> {{username}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Cerrar sesion</button>
        </mat-menu>
        
        
      </div>

    </div>
</nav>

  <div class="filter">
    <div class="filter_header">
      <p class="filter-p"> RESIDENTE / {{ensemble | uppercase}}    </p>
    </div>
    
    <div class="filter-search">
      <mat-form-field class="example-full-width" appearance="outline" style="margin-top: 5px; margin-left: 10px; width: 80%;">
        <mat-label>Buscar preguntas</mat-label>
        <input  type="text" matInput placeholder="Buscar preguntas"> 
      </mat-form-field>
      <button style="margin-left: 1%; margin-bottom: 10%;" mat-button> <i class="fa fa-search" aria-hidden="true"></i> </button>
    </div>
  </div>

  <div class="titel">

    <p>Preguntas Realizadas</p>

  </div>

  <div class="add-question">
    <button mat-mini-fab color="primary" matTooltip="Crear pregunta" (click)="openDialog()" >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
  
  <div class="alert alert-primary no-question" role="alert" *ngIf="validateQuestions">
    Usted no ha realizado ninguna pregunta
  </div>

  <div class="question" *ngFor="let question of questions | paginate: { itemsPerPage: 3, currentPage: page }">
    <mat-card style="background: #eaeaea;">
      <mat-card-title style="color: #4169e1;">
        {{question.nombre}}
      </mat-card-title>
      <hr>

      <mat-card-content>
        <p class="text-limit mt-3"> 
          {{question.descripcion}}
        </p> 
      </mat-card-content>

      <mat-card-actions style="text-align: end;">
         <button mat-button color="primary" matTooltip="Ver pregunta"> Ver </button>
      </mat-card-actions>

    </mat-card>
  </div>
  <div class="mt-3" style="float: left;" *ngIf="!validateQuestions">
    <pagination-controls (pageChange)="page = $event" 
      previousLabel="Anterior"
      nextLabel="Siguiente">
    </pagination-controls>

  </div>






