<nav class="navbar navbar-expand-lg" style="background-color: #192e67"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/appmin.png" alt="app-ministracion" width="200px">
      </a>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" style="color: white;" aria-current="page" href="#" >Inicio</a>
          <a class="nav-link"        style="color: white;" href="#">Solicitudes</a>
          <a class="nav-link"        style="color: white;" href="#">Noticias</a>
          <a class="nav-link"        style="color: white;"  [routerLink]="['/questions']"  >Preguntas</a>
        </div>
      </div>

      <div>
        <button mat-button [matMenuTriggerFor]="menu" style="color: white;"> <i class="fa fa-user" style="color: white;"></i> {{username}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Cerrar sesion</button>
          <button mat-menu-item (click)="profile()">Ver Perfil</button>
        </mat-menu>        
      </div>

    </div>
</nav>

  <div class="filter">
    <div class="filter_header">
      <p class="filter-p"> RESIDENTE / {{ensemble | uppercase}}    </p>
    </div>
    
    <div class="filter-search">
      <mat-form-field class="example-full-width" appearance="outline" style="margin-top: 5px; margin-left: 10px; width: 80%;">
        <mat-label>Buscar preguntas por incidencia </mat-label>
        <input  type="text" [(ngModel)]="filter"  (input)="searchQuestions()" matInput placeholder="Buscar preguntas"> 
      </mat-form-field>
    </div>

    <div class="filter-questions" >
      <div class="row">
        <div  class="col-md-6" style="margin-left: 10px;">
          <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>Filtrar Preguntas</mat-label>
            <mat-select (selectionChange)="selectFilter($event.value)" >
              
              <mat-option *ngFor="let filter of filter_values" [value]="filter.id">
                {{filter.name}}
              </mat-option>
              
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 mt-2" *ngIf="!loading">
        <button  mat-raised-button color="primary" matTooltip="Filtrar Pregunta" (click) = "searchQuestions()" >Buscar  </button>
      </div>
      <div class="col-md-4 mt-2" *ngIf="loading">
        <button  mat-raised-button color="primary" matTooltip="Filtrar Pregunta" disabled >Buscando  <i class="fa fa-spinner fa-spin"></i>  </button>
      </div>
    </div>
  </div>
    
  </div>
  
    <div class="titel">
      
      <p>Preguntas Realizadas/{{questionMessage}}</p>
      
    </div>
    
    <div class="add-question">
      <button mat-mini-fab color="primary" matTooltip="Crear pregunta" (click)="openDialog()" >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
  
  <div class="alert alert-primary no-question" role="alert" *ngIf="validateQuestions">
    Usted no ha realizado ninguna pregunta
  </div>

  <div class="alert alert-primary no-question" role="alert" *ngIf="filterQuestions && !validateQuestions">
    No se encontro ningun resultado
  </div>

  <div class="question" *ngFor="let question of questions | paginate: { itemsPerPage: 3, currentPage: page }">
    <mat-card style="box-shadow: 2px 2px 2px 2px #D3D3D3;">
      <mat-card-header style="border-bottom: 10px solid #D3D3D3; border-bottom-width: 1px;">
        <mat-card-title>
          {{question.nombre}}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content  >
        <p class="text-limit mt-2"> 
          {{question.descripcion}}
        </p> 
      </mat-card-content>

      <mat-card-actions style="text-align: end;">
         <button mat-button color="primary" matTooltip="Ver pregunta" (click)="viewResponse(question.cod_pregunta)"> Ver  </button>
      </mat-card-actions>

    </mat-card>
  </div>
  <div class="mt-3" style="float: left;" *ngIf="!validateQuestions">
    <pagination-controls (pageChange)="page = $event" 
      previousLabel="Anterior"
      nextLabel="Siguiente">
    </pagination-controls>

  </div>






