<section >
    <footer class="footer">
      <div class="container p-4 pb-0">
          <div class="d-flex justify-content-center align-items-center md-2">
            <a href="https://www.facebook.com/appministracion/"> 
              <img src="../../../assets/images/face.png" alt="">
            </a>

            <a href="https://www.facebook.com/appministracion/"> 
              <img src="../../../assets/images/tw.png" alt="">
            </a>
          </div>
      </div>
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
         <p style="color: white;"> © appministracion.com Todos los derechos reservados. by: 
          <a class="text-white" href="https://www.insoftar.com/">insoftar.com</a>
        </p>
        <div class="text-center">
          <a href="" style="color: gray;">Politica de privacidad</a>
        </div>
        <div>
          <a href="" style="color: gray;">Manual y Politica de proyeccionn de datos</a>
        </div>
      </div>
    </footer>
</section>

